#menu-content {
    display:    none;
    transition: max-height 0.3s ease-in-out;
}

.content-wrapper {
    display: unset;
}

.nav-menu {
    margin-bottom: 5%;
    margin-left: 5%;
}

.content {
    margin-right: 5%;
    margin-left: 5%;
}
