html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: black;
    display: table-cell;
    vertical-align: middle;

}

li {
    letter-spacing: 2px;
}

a:link, a:visited, a:active { 
  text-decoration: none; 
  color: #323232;
}

a:hover {
    text-decoration: none;
    color: white;
}

.logo:hover {
    background: #0B9EFF;
    background: linear-gradient(to bottom right, #0B9EFF 0%, #E8B1FF 65%);
    background-clip:content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-wrapper {
    display: flex;
    margin-left:  10%;
    margin-right: 10%;
    margin-top:    5%;
}

.nav-menu {
    margin-right: 20px;
    font-family: noto-sans;
    color: #323232;
}

.content {
    flex: 1;
    color: white;
    font-family: noto-sans;
    line-height: 2em;
    height: 100vh;
}

.project-list {
    margin-left:   5%;
    margin-right:  5%;
    text-align: justify;
}

.button {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  background-color: #323232;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  border: none;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
}

.button:hover {
  background-color: white;
  color: black;
}

.contact-button {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  background-color: #323232;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  border: none;
  transition: background-color 0.2s, color 0.2s;
  margin-bottom: 2%;
  margin-left: 3%;
}

.contact-button:hover {
  background-color: white;
  color: black;
}

.noto-sans {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


